section.about


    article.about__content

        p Inspired by Mackenzie Child's Daily Design series #[a(href="https://www.youtube.com/playlist?list=PL23ZvcdS3XPLj9eyU-9whn27EJuUZ0W2b") (you should totally check it out)]
        p Full credit goes to him for this awesome design.
        p Coded with patience and cereals by #[a(href="http://milkshakepanda.github.io") me]. Have a look a the source code #[a(href="https://github.com/MilkshakePanda/form-validation") here] if you're interested.
        p And if you see something that you think could be improved, don't hesitate to initiate a PR !
        
        
        span Menu Icon by Alice Mortaro from the Noun Project
