main.app

    section.app__info
        
        div.info__amount
            h2 Rihanna has sent you a payment request for:
            strong.amount $100,000.00
            
        div.info__message
            h2 Message:
            strong.message Bitch, you better have my money!
    
    section.app__payment-form
    
        header.payment-form__cards 
            
            ul
                li
                    include ../svg/visa.svg
                li
                    include ../svg/master.svg
                li
                    include ../svg/discover.svg
                li
                    include ../svg/amex.svg
        
        form.payment-form__form 
            
            div.form-group
                
                label(for="cardholder's name") Cardholder's name
                input(type="text", name="cardholder's name", id="cardName")    
            
            div.form-group
                
                label(for="email") Email
                input(type="text", name="email", id="email")    
            
            div.form-group.last-row
                
                div.card-number    
                
                    label(for="card number") Card Number
                    input(type="text", name="card number", maxlength="19", id="cardNumber")                
                                                
                div.cvc    
                    label(for="cvc") cvc
                    input(type="text", name="cvc", maxlength="3", id="cvc")    
            
        button(type="button").payment-form__submit
            
            span.initial-message Submit Payment
            span.right-arrow
                include ../svg/right.svg
                
        
    
